<app-nav-bar-control-panel></app-nav-bar-control-panel>

<header>
  <br>
  <br>
  <br>


  <div class="dropdown" style="text-align: end">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Administrar
    </button>
    <ul class="dropdown-menu" style="text-align: end;">
      <li><a class="dropdown-item" routerLink="/agregarAdmin">Agregar un libro</a></li>
      <li><a class="dropdown-item" href="/modificarAdmin">Modificar un libro</a></li>
      <li><a class="dropdown-item" href="/eliminarAdmin">Eliminar un libro</a></li>
      <li><a class="dropdown-item" href="/estadoVentas">Estado de Ventas</a></li>
    </ul>
  </div>

  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Panel de control</li>
      <li class="breadcrumb-item " aria-current="page">Categorías</li>
    </ol>
  </nav>


  <h1 class="display-4 mt-5 center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-fill"
      viewBox="0 0 16 16">
      <path
        d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z" />
    </svg> Categorías
  </h1>
</header>
<br>
<br>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/libros.png"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">LIBROS</h5>
        <p class="card-text center">En esta sección encontraras libros de distintas caracteristicas para que elijas el
          que más te guste.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/librosescolares.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">LIBROS ESCOLARES</h5>
        <p class="card-text center">En esta sección encontraras los libros escolares más solicitados, en caso que no
          figure podras solicitarlo a través de nuestro contacto.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/librosinfantiles.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">LIBROS INFANTILES</h5>
        <p class="card-text center">En esta sección encontraras los mejores libros infantiles para desarrollar la
          sabiduria de tu hijo/a al máximo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/masvendidos.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">LIBROS MÁS VENDIDOS</h5>
        <p class="card-text center">En esta sección encontraras los libros mas populares y vendidos del últiimo mes.
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/comics.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">COMICS</h5>
        <p class="card-text center">En esta sección enontraras los mejores comics para dejar volar tu imaginación.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/top100.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">TOP 100</h5>
        <p class="card-text center">En esta sección encontraras los libros más vendidos en un TOP 100 semanal.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/ebooks.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">E-BOOKS</h5>
        <p class="card-text center">En esta sección encontraras los libros que te gustan en versión digital para que
          los lleves donde quieras.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/medicina.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title center">MEDICINA</h5>
        <p class="card-text center">En esta sección encontrarás los libros relacionados con ciencias de la salud.</p>
      </div>
    </div>
  </div>
</div>




<!-- FOOTER -->
<app-footer-control-panel></app-footer-control-panel>