<br />
<br />
<br />
<article>
  <section>
    <div class="container-xl border-Product pb-3">
      <div class="row mb-3 mt-1">
        <div class="col">
          <span
            >ej: HOME> Salud Y Desarrollo Personal>
            Estilos Personales Y De Vida> Como Hacer Que Te Pasen Cosas Buenas
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 text-center">

          <div class=" row contenedor-ranking align-content-center text-center ">
            <p class="p-0 m-0 ml-2" id="ranking">
              #15 ranking en venta 
            </p>
          </div>

          <img [src]="libro.img_url" class="mt-2" alt="portada de libro"
          alt="portada libro"
          class="img-fluid Box-shadow"
          />
        <!--  <img
            src="assets/img/9789508523150.png"
            alt="portada libro"
            class="img-fluid Box-shadow"
          />
          foto de portada 190x290 o 230x350. Tambien podria ser height maximo
            290 o 350, adaptativo.-->
          <div class="mt-2">
            <ul class="compartir d-flex justify-content-around">
              <li>
                <a>
                  <img src="assets\img\facebook.png">
                  <br><span>Facebook</span> 

                </a>
              </li>
              <li>
                <a>
                  <img src="assets\img\instagram.png">
                  <br><span>Instagram</span>
                </a>
              </li>
              <li>
                <a>
                  <img src="assets\img\pinterest.png">
                  <br><span>Pinterest</span>
                </a>
              </li>
              <li>
                <a>
                  <img src="assets\img\gorjeo.png">
                  <br><span>Twitter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col p-0">
          <div class="row mb-1">
            <div class="col">
              <h3 class="TituloProducto text-uppercase">
                <span>{{libro.titulo}}</span>
              </h3>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col">
              <h6 class="text-uppercase SubtituloProducto">
                <span>{{libro.subtitulo}}</span>
              </h6>
            </div>
          </div>
          <div class="row mb-1">
            <div class="Autor col-md-auto">
              <span>{{autor.nombre}}</span>
            </div>
            <div class="AutorProducto col-md-auto">
              <span>Rojas Marian</span>
            </div>
            <div class="Editorial col-md-auto">
              <span>Editorial</span>
            </div>
            <div class="col-md-auto text-uppercase">
              <span>{{editorial.nombre}}</span>
            </div>
          </div>
          <div class="row mb-1 justify-content-end">
            <div class="col-5 Stock">
              <img src="assets/img/ic-clock.png" alt="icono demora de envio" />
              <span> En Stock. Salida del depósito en 24 horas hábiles? </span>
            </div>
          </div>

          <div class="container-book container rounded ml-0 row justify-content-center align-content-center">
            <div class="book-box row d-flex justify-content-end align-items-center">

              <div class="col text-center p-0 m-0">
                <p class="fs-4 PrecioProducto p-0 m-0"> AR$ {{libro.precio}}</p>
              </div>

              <div class="col p-0 m-0 text-center">
                <button type="button" class="btn btn-warning rounded"(click)="agregarAlCarrito(libro)">
                  Agregar al carrito
                </button>
              </div>

              <div class="col p-0 m-0 text-center">
                <i class="fas fa-truck fa-lg" style="color: #555"></i>
                <span class="Ayudas">Costos de envio</span>
              </div>

            </div>

            <div class="row book-box d-flex justify-content-around align-items-center">

              <div class="col text-center p-0 m-0">
                <p class="fs-4 PrecioProducto p-0 m-0">U$D {{ (+libro.precio / 500).toFixed(2) }}</p>
              </div>

              <div class="col p-0 m-0">
                <ul class="texto_lista text-center">
                  <li>
                    <a>Sumás 3500 puntos</a>
                  </li>
                  <li>
                    <a>Precio válido para compras online</a>
                  </li>
                </ul>
              </div>

              <div class="col p-0 m-0 text-center">
                  <i class="fas fa-money-check-alt fa-lg" style="color: #555"></i>
                  <span class="Ayudas ">Medios de pago</span>
              </div>
          </div>
          
          </div>
          <div class="row barra-categoria">
            <span>
              ej: HOME> Salud Y Desarrollo Personal>
              Estilos Personales Y De Vida> Como Hacer Que Te Pasen Cosas Buenas
            </span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-xl mt-3 border-Bottom">
      <div class="row justify-content-start mb-3 mt-1 Resenia">
        <div class="col-md-auto">
          <p class="fs-4">Reseña del libro</p>
        </div>
        <div class="col-md-auto">
          <p class="fs-4 TituloProducto text-capitalize">
            {{libro.titulo}}
          </p>
        </div>
        <div class="row">
          <p class="Resenia-Texto">
            {{libro.resenia}}
          </p>
        </div>
      </div>
    </div>
    <div class="container-xl mt-3 border-Bottom">
      <div class="row justify-content-start mb-3 mt-1 Resenia">
        <div class="col-md-auto">
          <p class="fs-4">Detalles de</p>
        </div>
        <div class="col-md-auto">
          <p class="fs-4 TituloProducto text-capitalize">
            {{libro.titulo}}
          </p>
        </div>
        <ul class="Resenia-Texto" style="list-style-type: none">
          <li class="col-md-auto">{{libro.paginas}}</li>

          <li class="col-md-auto">{{libro.peso}}</li>

          <li class="col-md-auto">Formato: Rustica</li>

          <li class="col-md-auto">{{libro.edicion}}</li>

          <li class="col-md-auto">Idioma: Castellano</li>

          <li class="col-md-auto">ISBN: {{libro.isbn}}</li>
        </ul>
      </div>
    </div>
  </section>
</article>