    .contenedor-ranking {
      width: 60%;
      background-color: rgb(255, 115, 0);
      color: white;
      position: relative;
      top: 2.5rem;
      height: 3rem;
      border-radius: 10px 10px 10px 0px;
      box-shadow:0 5px 10px rgb(173, 173, 173);

      z-index: 30;
    }
    .card-img-top {
      width: 100%;
      height: 30vh;
      object-fit: contain;
    }
    body {
      max-width: 1200px;
      margin: auto;
    }
    div ul.compartir {
      margin: 0;
      padding: 0;
      align-items: center;
    }
    div ul.compartir li{
      list-style: none;
      display: inline-block;
    }
    div ul li a img {
      width: 1.5rem;
      height: auto;
    }
    div ul.compartir li a span{
      text-align: center;
      font-size: 10px;
    }
    .TituloProducto,
    .AutorProducto,
    .PrecioProducto {
      color: #f26531;
    }
    .SubtituloProducto,
    .Autor,
    .Editorial {
      color: #9b9a9a;
    }
    .border-Product {
      border: 1px dashed #c7c5c5;
      border-bottom: 1px solid #ccc;
      box-shadow: 0 5px 1px #ededed;
    }
    .border-Bottom {
      border-bottom: 1px dotted #ccc;
    }
    .Stock {
      font-size: 10px;
      font-weight: bold;
      background-color: #fdbc45;
      padding: 0;
      margin-right: .7rem;
      max-width: 100%;
    }
    .Resenia {
      font-family: Garamond, serif;
    }
    .Resenia-Texto {
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
      color: #212529;
    }
    .Detalles-Texto {
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: #333333;
    }
    .Ayudas {
      color: #555;
      font-size: 12px;
    }
    .Box-shadow {
    box-shadow: 0 1px 8px rgba(50,50,50,.4);
    }
    div.container-book {
      background-color: #d8d8d8;
      border: 2px dotted rgb(146, 146, 146);
      padding: 0px;
      max-width: 100%;
      height: 10rem;
      margin: 0px;

      
    }
    div.book-box {
      padding: 0;
      height: 5rem;
    }
    @media only screen and (max-width: 600px) {
      .book-box {
        max-width: 100%;
      }
    }
    div ul.texto_lista{
      padding: 0;
      margin: 0;
    }
    div ul.texto_lista li {
      list-style-type: none;
    }
    div ul.texto_lista li a {
      color: rgb(20, 20, 20);
      font-size: 10px;
    }
  