<br />
<br />
<br />
<article>
  <section>
    <div class="container-xl border-Product pb-3">
      <div class="row mb-3 mt-1">
        <div class="col">
          <span
            >barra de categorias --> ej: HOME> Salud Y Desarrollo Personal>
            Estilos Personales Y De Vida> Como Hacer Que Te Pasen Cosas Buenas
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img
            src="assets/img/9789508523150.png"
            alt="portada libro"
            class="img-fluid Box-shadow"
          />
          <!--foto de portada 190x290 o 230x350. Tambien podria ser height maximo
            290 o 350, adaptativo.-->
        </div>
        <div class="col-sm-9">
          <div class="row mb-1">
            <div class="col">
              <h3 class="TituloProducto text-uppercase">
                <span>COMO HACER QUE TE PASEN COSAS BUENAS</span>
              </h3>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col">
              <h6 class="text-uppercase SubtituloProducto">
                <span
                  >ENTIENDE TU CEREBRO , GESTIONA TUS EMOCIONES , MEJORA TU
                  VIDA</span
                >
              </h6>
            </div>
          </div>
          <div class="row mb-1">
            <div class="Autor col-md-auto">
              <span>Autor</span>
            </div>
            <div class="AutorProducto col-md-auto">
              <span>Rojas Marian</span>
            </div>
            <div class="Editorial col-md-auto">
              <span>Editorial</span>
            </div>
            <div class="col-md-auto text-uppercase">
              <span>ESPASA CALPE</span>
            </div>
          </div>
          <div class="row mb-1 justify-content-end">
            <div class="col-5 Stock">
              <img src="assets/img/ic-clock.png" alt="icono demora de envio" />
              <span> En Stock. Salida del depósito en 24 horas hábiles? </span>
            </div>
          </div>
          <div class="row mb-1 justify-content-between">
            <div class="col-3 text-center">
              <p class="fs-4 PrecioProducto">$ 7000,00</p>
            </div>
            <div class="col-2 d-flex align-items-center">
              <button type="button" class="btn btn-warning btn-rounded">
                COMPRAR!
              </button>
            </div>
            <div class="col-5">
              <i class="fas fa-truck fa-lg" style="color: #555"></i>
              <span class="Ayudas">Costos de envio</span>
            </div>
          </div>
          <div class="row mb-1 justify-content-end">
            <div class="col-5">
              <i class="fas fa-money-check-alt fa-lg" style="color: #555"></i>
              <span class="Ayudas">Medios de pago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xl mt-3 border-Bottom">
      <div class="row justify-content-start mb-3 mt-1 Resenia">
        <div class="col-md-auto">
          <p class="fs-4">Reseña del libro</p>
        </div>
        <div class="col-md-auto">
          <p class="fs-4 TituloProducto text-capitalize">
            Como Hacer Que Te Pasen Cosas Buenas
          </p>
        </div>
        <div class="row">
          <p class="Resenia-Texto">
            ¿Sabes que tus emociones y pensamientos tienen un impacto directo en
            tu organismo, en tu percepción de la realidad e incluso en tus
            propios genes? ¿Eres consciente de que tu manera de gestionar los
            conflictos te puede predisponer a sufrir ansiedad o depresión, las
            enfermedades más frecuentes del siglo XXI? Para la doctora Marian
            Rojas Estapé la felicidad consiste en vivir instalado de forma sana
            en el presente, habiendo superado las heridas del pasado y mirando
            con ilusión al futuro. Muchos de los trastornos que padecemos
            provienen de la incapacidad para gestionar nuestro presente. La
            felicidad no es lo que nos pasa, sino cómo interpretamos lo que nos
            pasa. En Cómo hacer que te pasen cosas buenas entenderás la
            importancia de aprender a enfocar tu atención y descubrirás pautas
            para combatir los miedos, las angustias y cómo canalizar las
            emociones negativas que te llegan a bloquear física y mentalmente.
          </p>
        </div>
      </div>
    </div>
    <div class="container-xl mt-3 border-Bottom">
      <div class="row justify-content-start mb-3 mt-1 Resenia">
        <div class="col-md-auto">
          <p class="fs-4">Detalles de</p>
        </div>
        <div class="col-md-auto">
          <p class="fs-4 TituloProducto text-capitalize">
            Como Hacer Que Te Pasen Cosas Buenas
          </p>
        </div>
        <ul class="Resenia-Texto" style="list-style-type: none">
          <li class="col-md-auto">Paginas: 232</li>

          <li class="col-md-auto">Peso: 400</li>

          <li class="col-md-auto">Formato: Rustica</li>

          <li class="col-md-auto">Edicion: 2019</li>

          <li class="col-md-auto">Idioma: Castellano</li>

          <li class="col-md-auto">ISBN: 9789508523150</li>
        </ul>
      </div>
    </div>
  </section>
</article>
