<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      <link rel="icon" type="image/x-icon" href="content/images/logo-47.ico" />
      <style>.card-img-top {
         width: 100%;
         height: 30vh;
         object-fit: contain;
         }
      </style>
      <title>Panel de control</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
           <div class="container-fluid">
             <snap class="navbar-brand" >AppAdmin</snap>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav">
                 <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="paneldecontrol.html">Panel de control</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="categorias.html">Categorías</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="usuarios.html">Usuarios</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="entradas.html">Entradas</a>
                  </li>
               </ul>
             </div>
           </div>
         </nav>

         <br>
         <br>
         

    <center>
        <h1 class="display-4 mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg> Estado de las ventas </center>
        </h1>
     </header>


   <body>
  
        <div class="dropdown" style="text-align: end">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Administrar
        </button>
        <ul class="dropdown-menu" style="text-align: end;">
          <li><a class="dropdown-item" href="agregar.html">Agregar un libro</button></li>
          <li><a class="dropdown-item" href="modificar.html">Modificar un libro</a></li>
          <li><a class="dropdown-item" href="eliminar.html">Eliminar un libro</a></li>
          <li><a class="dropdown-item" href="ventas.html">Estado de Ventas</a></li>
        </ul>
        </div>

        <section>
            <div style="margin-left: 400px; margin-right: 400px;">
            <p><strong> Pedidos realizados </strong></p>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 30%"></div>
          </div>
        </div>
        </section>

        <br>
        <br>

        <section>
            <div style="margin-left: 400px; margin-right: 400px;">
            <p><strong> Pedidos concretados </strong></p>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%"></div>
          </div>
        </div>
    </div>

    <br>
    <br>

    <section>
        <div style="margin-left: 400px; margin-right: 400px;">
        <p><strong> Pedidos Cancelados </strong></p>
    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 38%"></div>
      </div>
    </div>
    </section>

    <br>
    <br>

    <section>
        <div style="margin-left: 400px; margin-right: 400px;">
        <p><strong> Pedidos retornados </strong></p>
      <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%"></div>
      </div>
    </div>
</div>

<br>
<br>

<section>
    <div style="margin-left: 400px; margin-right: 400px;">
    <p><strong> Total de venta semanal</strong></p>
<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 35%"></div>
  </div>
</div>
</section>

<br>
<br>

<section>
    <div style="margin-left: 400px; margin-right: 400px;">
    <p><strong> Total de venta mensual </strong></p>
  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
  </div>
</div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.cim.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"
        ></script>

 </body>
 </html>
