<br>
<br>
<h1 class="container display-4 mt-5">
   Bienvenidos a la Libreria Virtual IN 47
</h1>

<p class="container lead">
En esta página web vas a poder encontrar y descubrir todo tipo de historias, cuentos, autores y quedarte con el que más te guste!</p>
<br>
<br>
<nav class="container navbar navbar-expand-lg bg-light">
   <div class="container input-group">
      <input type="search" class="form-control rounded" placeholder="Ingresa titulo, autor, ISBN o palabra clave" aria-label="Search" aria-describedby="search-addon">
      <button type="button" class="btn btn-outline-primary">BUSCAR</button>
   </div>
</nav>
<nav class="container nav nav-pills flex-column flex-sm-row">
   <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="view/categorias.html">CATEGORIAS</a>
   <a class="flex-sm-fill text-sm-center nav-link" href="view/libros.html">LIBROS</a>
   <a class="flex-sm-fill text-sm-center nav-link" href="view/novelas.html">NOVELAS</a>
   <a class="flex-sm-fill text-sm-center nav-link" href="view/infantiles.html">INFANTILES</a>
   <a class="flex-sm-fill text-sm-center nav-link" href="view/masvendidos.html">MAS VENDIDOS</a>
   <a class="flex-sm-fill text-sm-center nav-link" href="view/comics.html">COMICS</a>
</nav>

<section class="section container heigth-16rem">
   <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item">
            <figure>
               <img src="../../../assets/img/PRIMERA.jpg" alt="libro con taza de cafe"  >
            </figure>
         </div>
         <div class="carousel-item">
            <figure>
               <img src="../../../assets/img/SEGUNDA.jpg" alt="libro abierto">
            </figure>
         </div>
         <div class="carousel-item active">
            <figure>
               <img src="../../../assets/img/TERCERA.jpg" alt="ebook con taza de cafe y refrigerios">
            </figure>
         </div>
      </div>
   </div>
</section>