<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand"routerLink="home">in47</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="logIn">
          <a class="nav-link" routerLink="user">Mi cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contacto</a>
        </li>
      </ul>
      <div class="ms-auto">
        <button *ngIf="!logIn" class="btn btn-light btn-nav me-3" routerLink="login">Login</button>
        <button *ngIf="logIn" class="btn btn-light btn-nav me-5" (click)="logout()">Logout</button>
        <button *ngIf="!logIn" class="btn btn-light btn-nav me-3" routerLink="register">Registro</button>
      </div>
      <!-- Icono de carrito -->
        <a class="nav-link" routerLink="cart">
          <i class="fas fa-shopping-cart cart-icon"></i>
          <span class="badge bg-secondary">{{ carritoService.cantidadProductos }}</span>
        </a>
    </div>
  </div>
</nav>