<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      <link rel="icon" type="image/x-icon" href="content/images/logo-47.ico" />
      <style>.card-img-top {
         width: 100%;
         height: 30vh;
         object-fit: contain;
         }
      </style>
      <title>Libreria IN 47</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
   </head>
   
   <body>
      <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <snap class="navbar-brand" >in47</snap>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Mi cuenta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">Quienes somos</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contacto.html">Contacto</a>
                   </li>
                </ul>
              </div>
            </div>
          </nav>
       </div>
         <br>
         <br>
         <center>
         <h1 class="display-4 mt-5">
            Bienvenidos a la Libreria Virtual IN 47
         </h1>
         
         <p class="lead">
         En esta página web vas a poder encontrar y descubrir todo tipo de historias, cuentos, autores y quedarte con el que más te guste!</p>
         </center>
         <br>
         <br>
      </header>
      <nav class="navbar navbar-expand-lg bg-light">
         <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Ingresa titulo, autor, ISBN o palabra clave" aria-label="Search" aria-describedby="search-addon">
            <button type="button" class="btn btn-outline-primary">BUSCAR</button>
         </div>
      </nav>
      <nav class="nav nav-pills flex-column flex-sm-row">
         <a class="flex-sm-fill text-sm-center nav-link" href="categorias.html">CATEGORIAS</a>
         <a class="flex-sm-fill text-sm-center nav-link" href="libros.html">LIBROS</a>
         <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page"href="novelas.html">NOVELAS</a>
         <a class="flex-sm-fill text-sm-center nav-link" href="infantiles.html">INFANTILES</a>
         <a class="flex-sm-fill text-sm-center nav-link" href="masvendidos.html">MAS VENDIDOS</a>
         <a class="flex-sm-fill text-sm-center nav-link" href="comics.html">COMICS</a>
         
      </nav>
      <article>
         <section>
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item">
                     <figure>
                        <img
                           src="../content/images/PRIMERA.jpg"
                           alt="libro con taza de cafe"
                           width="100%"
                           heigth="100%"
                           >
                     </figure>
                  </div>
                  <div class="carousel-item">
                     <figure>
                        <img
                           src="../content/images/SEGUNDA.jpg"
                           alt="libro abierto"
                           width="100%"
                           heigth="100%"
                           >
                     </figure>
                  </div>
                  <div class="carousel-item active">
                     <figure>
                        <img
                           src="../content/images/TERCERA.jpg"
                           alt="ebook con taza de cafe y refrigerios"
                           width="100%"
                           heigth="100%"
                           >
                     </figure>
                  </div>
               </div>
            </div>
         </section>
         <section>
            <div class="card-group" role="group" aria-label="Basic outlined example">
               <div class="card" >
                  <figure>
                     <img
                        src="../content/images/el_tiempo_delas_moscas.jpg"
                        class="card-img-top"
                        alt="el tiempo de las moscas"
                        >
                  </figure>
                  <div class="card-body">
                     <h5 class="card-title">EL TIEMPO DE LAS MOSCAS</h5>
                     <p class="card-text">
                        Inés sale en libertad, después de quince años presa 
                        por haber asesinado a Charo, la amante de su ex marido.
                         Su vida ha cambiado, pero así también la sociedad: 
                         el avance del feminismo, las leyes de matrimonio
                          igualitario y del aborto, el lenguaje inclusivo. 
                     </p>
                     <a href="#" class="btn btn-primary">EXPLORAR</a>
                  </div>
               </div>
               <div class="card" >
                  <figure>
                     <img
                        src="../content/images/el_crimen_del_lago.jpg"
                        class="card-img-top"
                        alt="el crimen del lago"
                        >
                  </figure>
                  <div class="card-body">
                     <h5 class="card-title">EL CRIMEN DEL LAGO</h5>
                     <p class="card-text">
                        Algunos lugares parecen demasiado hermosos para 
                        ser tocados por el horror. Summit Lake, ubicado
                         en las montañas de Carolina del Norte, es 
                         ese tipo de lugar con atractivas casas a lo 
                         largo de la costa al borde de un lago de agua
                          prístina. Pero hace dos semanas, Becca
                           Eckersley, una joven estudiante de derecho 
                           fue brutalmente asesinada en una de esas casas.
                            Hija de un poderoso abogado, Becca era una chica 
                            brillante y ambiciosa. Ahora, mientras la 
                            ciudad se tambalea por el dolor y los conmocionados
                             residentes especulan e intercambian sus teorías,
                              la policía se encuentra perdida.
                     </p>
                     <a href="#" class="btn btn-primary">EXPLORAR</a>
                  </div>
               </div>
               <div class="card" >
                  <figure>
                     <img
                        src="../content/images/cuento_de_hadas.jpg"
                        class="card-img-top"
                        alt="cuento de hadas"
                        >
                  </figure>
                  <div class="card-body">
                     <h5 class="card-title">CUENTO DE HADAS</h5>
                     <p class="card-text">
                        Estoy seguro de que puedo contar esta historia.
                         También estoy seguro de que nadie se la creerá. 
                         Eso me da igual. Me basta con contarla. Para mí -y 
                         está claro que para muchos escritores, no solo los 
                         novatos como yo-, el problema es decidir por dónde
                          empezar. (...) Y ahora, mientras pienso en esas cosas,
                           veo un claro hilo que conduce a lo largo de los 
                           años hasta el señor Bowditch y el cobertizo cerrado 
                           con candado detrás de su vieja y ruinosa casa victoriana.
                            Aunque un hilo puede romperse fácilmente. Por tanto,
                             no un hilo, sino una cadena. Una cadena sólida. 
                             Y yo era el chico con el grillete en torno a la muñeca
                     </p>
                     <a href="#" class="btn btn-primary">EXPLORAR</a>
                  </div>
               </div>
               <div class="card" >
                  <figure>
                     <img
                        src="../content/images/la_sombra_del_engaño.jpg"
                        class="card-img-top"
                        alt="la sombra del engaño"
                        >
                  </figure>
                  <div class="card-body">
                     <h5 class="card-title">LA SOMBRA DEL ENGAÑO</h5>
                     <p class="card-text">
                        Lowen Ashleigh, autora al borde de la bancarrota, 
                        recibe un encargo que le cambiará la vida: Jeremy, 
                        el flamante marido de Verity Crawford, una de las autoras
                         más importantes del momento, la contrata para 
                         terminar la serie de libros en la que trabajaba su 
                         mujer antes de sufrir un grave accidente que la ha 
                         dejado en coma. Lowen se instala en la mansion del 
                         matrimonio para poder trabajar en las notas en las que
                          trabajaba Verity, con la esperanza de encontrar material 
                          suficiente para empezar con su encargo, pero lo que 
                          no esperaba descubrir en la caotica oficina es una 
                          autobiografía de la propia Verity, escondida para que 
                          nunca salga a la luz.
                     </p>
                     <a href="#" class="btn btn-primary">EXPLORAR</a>
                  </div>
               </div>
            </div>
         </section>
      </article>
      <!-- Footer -->
      <footer class="text-center text-lg-start bg-white text-muted">
         <!-- Section: Social media -->
         <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
               <span>Contactanos por nuestras redes sociales:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
               <a href="" class="me-4 link-secondary"><i class="fab fa-facebook-f"></i></a>
               <a href="" class="me-4 link-secondary"><i class="fab fa-twitter"></i></a>
               <a href="" class="me-4 link-secondary"><i class="fab fa-google"></i></a>
               <a href="" class="me-4 link-secondary"><i class="fab fa-instagram"></i></a>
               <a href="" class="me-4 link-secondary"><i class="fab fa-linkedin"></i></a>
               <a href="" class="me-4 link-secondary"><i class="fab fa-github"></i></a>
            </div>
            <!-- Right -->
         </section>
         <!-- Section: Social media -->
         <!-- Section: Links  -->
         <section class="">
            <div class="container text-center text-md-start mt-5">
               <!-- Grid row -->
               <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                     <!-- Content -->
                     <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-microchip me-3 text-secondary"></i>GRUPO IN 47
                     </h6>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dignissimos magnam numquam nesciunt quaerat. Cupiditate, quis fugit officia exercitationem distinctio nobis, sint et beatae eveniet assumenda quam possimus consectetur perferendis?
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                        Guia de Compra
                     </h6>
                     <p>
                        <a href="#!" class="text-reset">Costos y tiempo de envio</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Atencion al Cliente</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Preguntas Frecuentes</a>
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                        Mi Usuario
                     </h6>
                     <p>
                        <a href="#!" class="text-reset">Estado de mi compra</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Registrarse</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Ver mi carrito</a>
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                     <p><i class="fas fa-home me-3 text-secondary"></i> Av. de Mayo 1156 1er piso, CABA</p>
                     <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@grupoin47.com
                     </p>
                     <p><i class="fas fa-phone me-3 text-secondary"></i> + 011 2345 5678</p>
                     <p><i class="fas fa-print me-3 text-secondary"></i> + 011 2345 5679</p>
                  </div>
                  <!-- Grid column -->
               </div>
               <!-- Grid row -->
            </div>
         </section>
         <!-- Section: Links  -->
         <!-- Copyright -->
         <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://grupoin47.com/">grupoin47.com</a>
         </div>
         <!-- Copyright -->
      </footer>
      <!-- Footer -->
   </body>
</html>