
<app-header></app-header>
<article class="container" >

   <div class="row justify-content-center" role="group" aria-label="Basic outlined example">
      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2 m-2 hover-effect" *ngFor="let libro of libros" [routerLink]="['/libro', libro.id_libro]" style="cursor: pointer;">
        <img [src]="libro.img_url" class="mt-2" alt="portada de libro">
        <div class="pt-0 text-center">
          <h6>{{libro.titulo}}</h6>
        </div>
      </div>
    </div>
    
</article>
<hr class="container">
<article class="container">
   <div class="card-group row g-1" role="group" aria-label="Basic outlined example">
      <div class="card">
         <div class="card-header">
            <img src="../../../assets/img/infantil_portada.png" class="card-img-top " alt="portada de libro infantil">
         </div>
         <div class="card-body">
            <h5 class="card-title">CUENTOS INFANTILES</h5>
            <p class="card-text">
               En esta seccion encontraras los libros mas recomendados para
               niños/as de entre 3-12años.
            </p>
            <a href="view/infantiles.html" class="btn btn-primary">EXPLORAR</a>
         </div>
      </div>
      <div class="card">
         <img src="../../../assets/img/novela_portada.png" class="card-img-top" alt="portada de novela">
         <div class="card-body">
            <h5 class="card-title">NOVELAS</h5>
            <p class="card-text">
               En esta seccion encontraras las novelas mas emocionantes y
               apasionadas para disfrutar.
            </p>
            <a href="view/novelas.html" class="btn btn-primary">EXPLORAR</a>
         </div>
      </div>
      <div class="card">
         <img src="../../../assets/img/comic_portada.png" class="card-img-top" alt="portada de comic">
         <div class="card-body">
            <h5 class="card-title">COMICS</h5>
            <p class="card-text">
               En esta seccion encontraras los comics que te haran viajar a otra
               realidad y luchar junto a tus personajes favoritos.
            </p>
            <a href="view/comics.html" class="btn btn-primary">EXPLORAR</a>
         </div>
      </div>
      <div class="card">
         <img src="../../../assets/img/mas_vendidos_portada.png" class="card-img-top" alt="portada de libro mas vendido">
         <div class="card-body">
            <h5 class="card-title">MAS VENDIDOS</h5>
            <p class="card-text">
               En esta seccion encontraras los libros mas vendidos y recomendados por la
               gente. Conocelos!
            </p>
            <a href="view/masvendidos.html" class="btn btn-primary">EXPLORAR</a>
         </div>
      </div>
   </div>
</article>
