<app-header></app-header>
<article>

    <section>
       <div class="card-group" role="group" aria-label="Basic outlined example">
          <div class="card">
             <figure>
                <img
                   src="../../../assets/img/infantil_portada.png"
                   class="card-img-top"
                   alt="portada de libro infantil"
                   >
             </figure>
             <div class="card-body ">
                <h5 class="card-title">CUENTOS INFANTILES</h5>
                <p class="card-text">
                   En esta seccion encontraras los libros mas recomendados para
                   niños/as de entre 3-12años.
                </p>
                <a href="view/infantiles.html" class="btn btn-primary">EXPLORAR</a>
             </div>
          </div>
          <div class="card">
             <figure>
                <img
                   src="../../../assets/img/novela_portada.png"
                   class="card-img-top"
                   alt="portada de novela"
                   >
             </figure>
             <div class="card-body">
                <h5 class="card-title">NOVELAS</h5>
                <p class="card-text">
                   En esta seccion encontraras las novelas mas emocionantes y
                   apasionadas para disfrutar.
                </p>
                <a href="view/novelas.html" class="btn btn-primary">EXPLORAR</a>
             </div>
          </div>
          <div class="card">
             <figure>
                <img
                   src="../../../assets/img/comic_portada.png"
                   class="card-img-top"
                   alt="portada de comic"
                   >
             </figure>
             <div class="card-body">
                <h5 class="card-title">COMICS</h5>
                <p class="card-text">
                   En esta seccion encontraras los comics que te haran viajar a otra
                   realidad y luchar junto a tus personajes favoritos.
                </p>
                <a href="view/comics.html" class="btn btn-primary">EXPLORAR</a>
             </div>
          </div>
          <div class="card">
             <figure>
                <img
                   src="../../../assets/img/mas_vendidos_portada.png"
                   class="card-img-top"
                   alt="portada de libro mas vendido"
                   >
             </figure>
             <div class="card-body">
                <h5 class="card-title">MAS VENDIDOS</h5>
                <p class="card-text">
                   En esta seccion encontraras los libros mas vendidos y recomendados por la
                   gente. Conocelos!
                </p>
                <a href="view/masvendidos.html" class="btn btn-primary">EXPLORAR</a>
             </div>
          </div>
       </div>
    </section>
 </article>