<app-nav-bar-control-panel></app-nav-bar-control-panel>

<header>

  <br>
  <br>
  <br>


  <div class="dropdown" style="text-align: end">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Administrar
    </button>
    <ul class="dropdown-menu" style="text-align: end;">
      <li><a class="dropdown-item" href="agregar.html">Agregar un libro</a></li>
      <li><a class="dropdown-item" href="modificar.html">Modificar un libro</a></li>
      <li><a class="dropdown-item" href="eliminar.html">Eliminar un libro</a></li>
      <li><a class="dropdown-item" href="ventas.html">Estado de Ventas</a></li>
    </ul>
  </div>

  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Panel de control</li>
      <li class="breadcrumb-item " aria-current="usuarios.html">Usuarios</li>
    </ol>
  </nav>

  <h1 class="display-4 mt-5 center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
      viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
    </svg>Usuarios
  </h1>
</header>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="text-align: center;">Últimos usuarios</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Registrado</th>
      </tr>
      <tr>
        <td> Juan Lopez </td>
        <td> JuanLopez@gmail.com </td>
        <td> Dic. 17, 2022 </td>
      </tr>
      <tr>
        <td> Lautaro Martinez </td>
        <td> LautaroMartinez@gmail.com </td>
        <td> Dic. 20, 2022 </td>
      </tr>
      <tr>
        <td> Ramiro Melgarejo </td>
        <td> RamiroMelgarejo@gmail.com </td>
        <td> Ene. 03, 2023 </td>
      </tr>
      <tr>
        <td> Valentina Fernandez </td>
        <td> ValentinaFernandez@gmail.com </td>
        <td> Mar. 05, 2023 </td>
      </tr>
      <tr>
        <td> Tomas Molina </td>
        <td> TomasMolina@gmail.com </td>
        <td> Abr. 10, 2023 </td>
      </tr>
      <tr>
        <td> Juan Lopez </td>
        <td> JuanLopez@gmail.com </td>
        <td> Dic. 17, 2022 </td>
      </tr>
      <tr>
        <td> Lautaro Martinez </td>
        <td> LautaroMartinez@gmail.com </td>
        <td> Dic. 20, 2022 </td>
      </tr>
      <tr>
        <td> Ramiro Melgarejo </td>
        <td> RamiroMelgarejo@gmail.com </td>
        <td> Ene. 03, 2023 </td>
      </tr>
      <tr>
        <td> Valentina Fernandez </td>
        <td> ValentinaFernandez@gmail.com </td>
        <td> Mar. 05, 2023 </td>
      </tr>
      <tr>
        <td> Tomas Molina </td>
        <td> TomasMolina@gmail.com </td>
        <td> Abr. 10, 2023 </td>
      </tr>
    </table>
  </div>
</div>
<!-- FOOTER -->
<app-footer-control-panel></app-footer-control-panel>