<app-nav-bar-control-panel></app-nav-bar-control-panel>


  <header>


    <br>
    <br>
    <br>


    <div class="dropdown" style="text-align: end">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Administrar
      </button>
      <ul class="dropdown-menu" style="text-align: end;">
        <li><a class="dropdown-item" href="agregar.html">Agregar un libro</a></li>
        <li><a class="dropdown-item" href="modificar.html">Modificar un libro</a></li>
        <li><a class="dropdown-item" href="eliminar.html">Eliminar un libro</a></li>
        <li><a class="dropdown-item" href="ventas.html">Estado de Ventas</a></li>
      </ul>
    </div>

    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Panel de control</li>
        <li class="breadcrumb-item " aria-current="entradas.html">Entradas</li>
      </ol>
    </nav>


    <h1 class="display-4 mt-5 center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
        viewBox="0 0 16 16">
        <path
          d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
      </svg> Entradas
    </h1>
  </header>
  <br>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="text-align: center;">Entradas con comentarios</h3>
    </div>
  </div>
  <br>

  <div class="panel-body">
    <table class="table table-striped table-hover">
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Libro</th>
        <th>Comentario</th>
        <th>Fecha</th>
        <th> </th>
        <th> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
      <tr>
        <th>Leonardo</th>
        <th>Leonardo@gmail.com</th>
        <th>Platero y yo </th>
        <th>"Me encanto el libro, muy emocionante"</th>
        <th>Abr. 25, 2023</th>
        <th><button type="button" class="btn btn-success">Subir comentario</button></th>
        <th><button type="button" class="btn btn-danger">Eliminar comentario</button> </th>
      </tr>
    </table>
  </div>


<!-- FOOTER -->
<app-footer-control-panel></app-footer-control-panel>