<section>
  <div class="container-fluid h-custom mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login" action="" method="post">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start ">
            <p class="lead fw-normal mb-3 me-3 mt-5">Iniciar sesión</p>
          </div>

          <!-- Email input -->
          <div class="form-group mt-2">
            <label for="email">Tu correo electrónico</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
              </div>
              <input type="email" id="email" class="form-control" formControlName="email"
                [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)" />
            </div>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="invalid-feedback">
              <span *ngIf="email?.errors?.['required']">El correo electrónico es requerido.</span>
              <span *ngIf="email?.errors?.['email']">Ingresa un correo electrónico válido.</span>
            </div>
          </div>


          <!-- Password input -->
          <div class="form-group  mt-2">
            <label for="password">Contraseña</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
              </div>
              <input type="password" id="password" class="form-control" formControlName="password"
                [class.is-invalid]="password?.invalid && (password?.dirty || password?.touched)" />
            </div>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="invalid-feedback">
              <span *ngIf="password?.errors?.['required']">La contraseña es requerida.</span>
              <span *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</span>
            </div>
          </div>


          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0 mt-2">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Recordarme
              </label>
            </div>
            <a href="#!" class="text-body">Olvidaste tu contraseña?</a>
          </div>
          <div id="alert" class="alert alert-danger invisible mt-3" role="alert">
          </div>
          <div class="text-center text-lg-start mt-2 pt-2">
            <button type="submit" id="btn-enviar" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit">Ingresar</button>

            <div *ngIf="alertVisible" class="alert alert-danger mt-3" role="alert" [innerHTML]="alertMessage">
            </div>

            <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta?</p>
            <a class="link-danger" href="/register">Registrarme</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>