
<br>
<br>
<div class="container">
<div class="row d-flex aling-items-center justify-content-center vh-25">
   <h2 class="col-12 text-center display-4">In 47 Developers</h2>
   <div class="fond">
      <div class="carreaux_presentation_light">
         <img src="../../../assets/img/logo 47.jpg" class="rounded mx-auto d-block" alt="logo de la empresa">
         <div class="">
            <div class="deroul_titre">Desarrolladores en</div>
            <div class="deroul_soustitre">constante crecimiento.</div>
         </div>
      </div>
   </div>
</div>

<h3 class="text-center display-4 p-4">Nuestra Misión</h3>
<p class="main-text">
   Nuestra mision es satisfacer íntegramente las necesidades de nuestros clientes, ofreciendo el mayor surtido de libros de texto, lectura e innovación digital. Satisfaciendo las necesidades de la comunidad educativa con una amplia gama de editoriales para garantizar el aprendizaje y fomentar el amor a la lectura en el público en general.
</p>
<article>
   <h4 class="display-6 pt-5">NUESTRO EQUIPO</h4>
   <div class="container">
      <div class="row d-flex aling-items-center justify-content-center vh-25">
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Juan Manuel Sanchez Fin - PRODUCT OWNER</p>
            </div>
         </div>
         <div class="card col-5 border">
            <div class="card-body">
               <p class="card-title">Andrea Ines Reyna - SCRUM MASTER</p>
            </div>
         </div>
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Fiorella  Melgarejo - DEVELOPER FULL STACK</p>
            </div>
         </div>
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Franco Trivini - DEVELOPER FULL STACK</p>
            </div>
         </div>
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Alejandro Celen - ADMIN DB</p>
            </div>
         </div>
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Gonzalo Jesus Ezequiel Cuello - QA</p>
            </div>
         </div>
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Nicolas Gaitan - UX/UI DESIGNER</p>
            </div>
         </div>
         <div class="card col-5 border" >
            <div class="card-body">
               <p class="card-title">Pamela Suarez - UX/UI DESIGNER</p>
            </div>
         </div>
      </div>
   </div>
</article>
