<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      <link rel="icon" type="image/x-icon" href="../content/images/logo-47.ico" />
      <style>.card-img-top {
         width: 100%;
         height: 30vh;
         object-fit: contain;
         }
      </style>
      <title>Libreria IN 47</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
   </head>
   
   <body>
      <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <snap class="navbar-brand" >in47</snap>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="login.html">Mi cuenta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">Quienes somos</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contacto.html">Contacto</a>
                   </li>
                </ul>
              </div>
            </div>
          </nav>
       </div>
         <br>
         <br>
        
        
      </header>
      <section class="vh-90" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrate</p>
      
                      <form class="mx-1 mx-md-4" id="register"  action="" method="post">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="name" class="form-control" />
                            <label class="form-label" for="name">Tu nombre</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input type="text" id="lastname" class="form-control" />
                              <label class="form-label" for="lastname">Tu apellido</label>
                            </div>
                          </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="email" class="form-control" />
                            <label class="form-label" for="email">Tu correo electronico</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="pass" class="form-control" />
                            <label class="form-label" for="pass">Contraseña</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="pass2" class="form-control" />
                            <label class="form-label" for="pass2">Repite tu contraseña</label>
                          </div>
                        </div>
      
                        <div class="form-check d-flex justify-content-center mb-5">
                          <input class="form-check-input me-2" type="checkbox" value="" id="check" />
                          <label class="form-check-label" for="check">
                            He leído y acepto los <a href="#!">términos y condiciones de uso</a>
                          </label>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-primary btn-lg">Registrarme</button>
                        </div>
      
                      </form>
                      <div id="alert" class="alert alert-danger invisible mt-3" role="alert">
                     </div>
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer -->
      <footer class="text-center text-lg-start bg-white text-muted">
         <!-- Section: Social media -->
         <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
               <span>Contactanos por nuestras redes sociales:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
               <a href="#" class="me-4 link-secondary"><i class="fab fa-facebook-f"></i></a>
               <a href="#" class="me-4 link-secondary"><i class="fab fa-twitter"></i></a>
               <a href="#" class="me-4 link-secondary"><i class="fab fa-google"></i></a>
               <a href="#" class="me-4 link-secondary"><i class="fab fa-instagram"></i></a>
               <a href="#" class="me-4 link-secondary"><i class="fab fa-linkedin"></i></a>
               <a href="#" class="me-4 link-secondary"><i class="fab fa-github"></i></a>
            </div>
            <!-- Right -->
         </section>
         <!-- Section: Social media -->
         <!-- Section: Links  -->
         <section class="">
            <div class="container text-center text-md-start mt-5">
               <!-- Grid row -->
               <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                     <!-- Content -->
                     <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-microchip me-3 text-secondary"></i>GRUPO IN 47
                     </h6>
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dignissimos magnam numquam nesciunt quaerat. Cupiditate, quis fugit officia exercitationem distinctio nobis, sint et beatae eveniet assumenda quam possimus consectetur perferendis?
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                        Guia de Compra
                     </h6>
                     <p>
                        <a href="#!" class="text-reset">Costos y tiempo de envio</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Atencion al Cliente</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Preguntas Frecuentes</a>
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">
                        Mi Usuario
                     </h6>
                     <p>
                        <a href="#!" class="text-reset">Estado de mi compra</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Registrarse</a>
                     </p>
                     <p>
                        <a href="#!" class="text-reset">Ver mi carrito</a>
                     </p>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                     <!-- Links -->
                     <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                     <p><i class="fas fa-home me-3 text-secondary"></i> Av. de Mayo 1156 1er piso, CABA</p>
                     <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@grupoin47.com
                     </p>
                     <p><i class="fas fa-phone me-3 text-secondary"></i> + 011 2345 5678</p>
                     <p><i class="fas fa-print me-3 text-secondary"></i> + 011 2345 5679</p>
                  </div>
                  <!-- Grid column -->
               </div>
               <!-- Grid row -->
            </div>
         </section>
         <!-- Section: Links  -->
         <!-- Copyright -->
         <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://grupoin47.com/">grupoin47.com</a>
         </div>
         <!-- Copyright -->
      </footer>
      <!-- Footer -->
      <script src="../scripts/registerValidations.js"></script>
   </body>
</html>